

body {
font-family: Arial, sans-serif;
}

#gameScreen {
display: grid;
grid-template-columns: 1fr 2fr 1fr;

width: 800px;
height: 400px;

margin: 30px auto;

border: 2px solid black;


}

#leftBank,
#rightBank {
background: rgb(88, 158, 88);

padding: 10px;


}

#river {
    position: relative;
    background: #6cbbf0;
}

#boat-container {
    position: absolute;

    left: 20px;
    top: 50%;

    transform: translateY(-50%);

    transition: left 1s;

    width: 100px;
    height: 60px;
}

#boat {
    position: absolute;
    left: 0;
    top: 0;
}

#passengers {
    position: absolute;

    left: 20px;
    top: 5px;

    display: flex;
    gap: 3px;

    z-index: 2;
}


#controls {
display: flex;

justify-content: center;

gap: 10px;


}

button {
padding: 8px 12px;

cursor: pointer;


}

.missionary {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
}

.cannibal {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
